{% extends "base.html" %} 

{% block content %}
<div class="d-flex flex-column gap-4 w-75" style="padding: 72px 0">
    <div class="d-flex flex-column gap-2 w-100">
        <div class="d-flex w-100 justify-content-end">
            <a href="/team/add-coach" class="btn-primary btn">Tambah Pelatih</a>
        </div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Nama Pelatih</th>
                <th>Nomor HP</th>
                <th>Email</th>
                <th>Alamat</th>
                <th>Spesialisasi</th>
                <th>Action</th>
            </tr>
        
            {% for coach in coaches %}
            <tr>
                <th class="align-middle">{{coach.nama}}</th>
                <th class="align-middle">{{coach.nomor_hp}}</th>
                <th class="align-middle">{{coach.email}}</th>
                <th class="align-middle">{{coach.alamat}}</th>
                <th class="align-middle">{{coach.spesialisasi}}</th>
                <th>
                    <form method="post" action="/team" class="w-100">
                        {% csrf_token %}
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="type" value="COACH">
                        <input type="hidden" name="id" value="{{coach.id}}">
                        <button class="btn-danger btn w-100">Delete</button>
                    </form>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="d-flex flex-column gap-2 w-100">
        <div class="d-flex w-100 justify-content-end">
            <a href="/team/add-player" class="btn-primary btn">Tambah Pemain</a>
        </div>
        <table class="table table-striped table-hover">
            <tr>
                <th>Nama</th>
                <th>Nomor HP</th>
                <th>Tanggal Lahir</th>
                <th>Is Captain</th>
                <th>Posisi</th>
                <th>NPM</th>
                <th>Jenjang</th>
                <th>Action</th>
            </tr>
        
            {% for player in players %}
            <tr>
                <th class="align-middle">{{player.nama}}</th>
                <th class="align-middle">{{player.nomor_hp}}</th>
                <th class="align-middle">{{player.tgl_lahir}}</th>
                <th class="align-middle">{{player.is_captain}}</th>
                <th class="align-middle">{{player.posisi}}</th>
                <th class="align-middle">{{player.npm}}</th>
                <th class="align-middle">{{player.jenjang}}</th>
                <th>
                    <div class="d-flex flex-column gap-2 w-100">
                        {% if not player.is_captain %}
                            <form method="post" action="/team" class="w-100">
                                {% csrf_token %}
                                <input type="hidden" name="_method" value="PATCH">
                                <input type="hidden" name="type" value="PLAYER">
                                <input type="hidden" name="id" value="{{player.id}}">
                                <button class="btn-secondary btn w-100">Promote</button>
                            </form>
                        {% endif %}
                        <form method="post" action="/team" class="w-100">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="type" value="PLAYER">
                            <input type="hidden" name="id" value="{{player.id}}">
                            <button class="btn-danger btn w-100">Delete</button>
                        </form>                    
                    </div>
                </th>
            </tr>
            {% endfor %}
        </table>
    </div>
    
</div>

{% endblock %}