{% extends "base.html" %} 

{% block content %}
<div class="d-flex flex-column gap-4 align-items-center justify-content-center w-75 py-5">
    <div class="d-flex flex-column gap-2 w-100">
        <div class="d-flex w-100 justify-content-end gap-2">
            <button class="btn-primary btn">Tambah Peristiwa</button>
            <button class="btn-success btn">Selesai</button>
        </div>

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option1" value="tim1" autocomplete="off"> Tim 1
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="options" id="option2" value="tim2" autocomplete="off"> Tim 2
            </label>
        </div>
          
        <table class="table table-striped table-hover">
            <tr>
                <th class="text-center">Nama Pemain</th>
                <th class="text-center">Peristiwa</th>
                <th class="text-center">Waktu</th>
            </tr>

            {% for event in events %}
            <tr> 
                <th class="text-center">{{event.ID_Pemain}}</th>
                <th class="text-center">{{event.Jenis}}</th>
                <th class="text-center">{{event.Datetime}}</th>
            </tr>
            {% endfor %}

            <tr>
                <th class="align-middle text-center">
                    <select id="status" class="form-select" aria-label="Default select example">
                    <option selected>Pilih Pemain</option>

                    {% for player in players %}
                    <option value="{{player.nama}}">{{player.nama}}</option>
                    {% endfor %}

                  </select>
                </th>
                <th class="align-middle text-center">
                    <select id="status" class="form-select" aria-label="Default select example">
                    <option selected>Pilih Peristiwa</option>
                    <option value="kuning">kuning</option>
                    <option value="merah">merah</option>
                    <option value="assist">assist</option>
                    <option value="gol">gol</option>
                  </select>
                </th>
                <th>
                    <input name="start_date" class="form-control" id="tanggal_mulai" type="date">
                </th>
            </tr>
        </table>
        <div>
            <button type="submit" class="btn-success btn w-50">Submit</button>
        </div>
    </div>
</div>

{% endblock %}