{% extends "base.html" %} {% block content %}
<h1>LIST RAPAT</h1>
<table>
  <thead>
    <tr>
      <th>Rapat</th>
      <th>Tim</th>
      <th>Nama</th>
      <th>Panitia</th>
      <th>Stadium</th>
      <th>Tanggal dan Waktu</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for rapat in rapats %}
    <tr>
      <td>{{ rapat.nama }}</td>
      <td>{{ rapat.tim }}</td>
      <td>{{ rapat.nama }}</td>
      <td>{{ rapat.panitia }}</td>
      <td>{{ rapat.stadium }}</td>
      <td>{{ rapat.tanggal_waktu }}</td>
      <td><a href="{% url 'lihat_laporan' rapat.pk %}">Lihat Laporan</a></td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="7">Tidak ada rapat yang tersedia.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
